In [27]:
#SQL_SOURCE = 'https://fb55.carto.com/api/v2/sql?q='

#import urllib2
##import urllib
#import StringIO
#import ast
#import pandas as pd

#def queryCartoDB(query, format='CSV', source=SQL_SOURCE):
    #'''queries carto datasets from a given carto account
    #Arguments: 
    #query - string: a valid sql query string
    #format - outlut format  OPTIONAL (default CSV)
    #source - a valid sql api endpoint OPTIONAL (default carto fb55 account)
    #Returns:
    #the return of the sql query AS A STRING
    #NOTES:
    #designed for the carto API, tested only with CSV return format'''
    
    #data = urllib.urlencode({'format': format, 'q': query})
    #try:
    #    response = urllib2.urlopen(source, data)
    #except urllib2.HTTPError, e:
    #   raise ValueError('\n'.join(ast.literal_eval(e.readline())['error']))
    #except Exception:
    #    raise
    #return response.read()

#python2,3 compatible
try:
    import urllib2 as ulib
except ImportError:
    import urllib as ulib

try:
    from StringIO import BytesIO as io
except ImportError:
    from io import BytesIO as io

try:
    from urllib import urlencode as urlencode
except ImportError:
    from urllib.parse import urlencode as urlencode
    
try:
    from urllib import urlopen as urlopen
except ImportError:
    from urllib.request import urlopen as urlopen
    
try:
    from urllib2 import HTTPError as HTTPError
except ImportError:
    from urllib.error import HTTPError as HTTPError

import ast
import pandas as pd

API_URL = 'https://fb55.carto.com:443/api/v2/sql?q='

def queryCartoDB(query, formatting = 'CSV', source = API_URL):
    '''queries carto datasets from a given carto account
    Arguments: 
    query - string: a valid sql query string
    format - outlut format  OPTIONAL (default CSV)
    source - a valid sql api endpoint OPTIONAL (default carto fb55 account)
    Returns:
    the return of the sql query AS A STRING
    NOTES:
    designed for the carto API, tested only with CSV return format'''
    
    
    data = urlencode({'format': formatting, 'q': query}).encode("utf-8")
    try:
        response = urlopen(source, data)
        return response.read()
    except HTTPError as e:
        raise (ValueError('\n'.join(ast.literal_eval(e.readline())['error'])))
        
def get_data(query):
    try:
        return pd.read_csv(io(queryCartoDB(test)), sep = ',')
    except ValueError as v:
        print (str(v))

In [34]:
test = '''
SELECT *
FROM htv210.citibike_feb_2015
'''

In [35]:
pd.read_csv(StringIO.StringIO(queryCartoDB(test)), sep=',')

,the_geom,start_station_longitude,the_geom_webmercator,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,cartodb_id,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,-73.993934,NaN,447,2015-02-01 01:11:00+00,2015-02-01 01:19:00+00,490,8 Ave & W 33 St,40.751551,93,479,9 Ave & W 45 St,40.760193,-73.991255,15185,Subscriber,1983.0,2
1,NaN,-73.987216,NaN,277,2015-02-01 10:26:00+00,2015-02-01 10:30:00+00,533,Broadway & W 39 St,40.752996,847,515,W 43 St & 10 Ave,40.760094,-73.994618,16452,Subscriber,1978.0,1
2,NaN,-73.994564,NaN,526,2015-02-01 11:07:00+00,2015-02-01 11:16:00+00,168,W 18 St & 6 Ave,40.739713,1180,521,8 Ave & W 31 St,40.750450,-73.994811,16741,Subscriber,1984.0,1
3,NaN,-73.989551,NaN,502,2015-02-01 12:37:00+00,2015-02-01 12:46:00+00,402,Broadway & E 22 St,40.740343,1971,459,W 20 St & 11 Ave,40.746745,-74.007756,16951,Subscriber,1983.0,1
4,NaN,-73.996674,NaN,943,2015-02-01 12:46:00+00,2015-02-01 13:02:00+00,508,W 46 St & 11 Ave,40.763414,2053,521,8 Ave & W 31 St,40.750450,-73.994811,16897,Subscriber,1966.0,2
5,NaN,-73.993790,NaN,563,2015-02-01 12:54:00+00,2015-02-01 13:03:00+00,229,Great Jones St,40.727434,2138,346,Bank St & Hudson St,40.736529,-74.006180,16722,Subscriber,1984.0,1
6,NaN,-74.002150,NaN,519,2015-02-01 15:21:00+00,2015-02-01 15:29:00+00,368,Carmine St & 6 Ave,40.730386,3591,503,E 20 St & Park Ave,40.738274,-73.987520,15196,Subscriber,1968.0,1
7,NaN,-73.988900,NaN,500,2015-02-01 17:38:00+00,2015-02-01 17:47:00+00,483,E 12 St & 3 Ave,40.732233,4983,435,W 21 St & 6 Ave,40.741740,-73.994156,19409,Customer,NaN,0
8,NaN,-73.997262,NaN,374,2015-02-01 17:48:00+00,2015-02-01 17:55:00+00,334,W 20 St & 7 Ave,40.742388,5067,497,E 17 St & Broadway,40.737050,-73.990093,21456,Customer,NaN,0
9,NaN,-73.984267,NaN,420,2015-02-01 19:26:00+00,2015-02-01 19:33:00+00,326,E 11 St & 1 Ave,40.729538,5748,527,E 33 St & 2 Ave,40.744023,-73.976056,14878,Subscriber,1988.0,1
10,NaN,-73.995299,NaN,315,2015-02-01 21:34:00+00,2015-02-01 21:39:00+00,446,W 24 St & 7 Ave,40.744876,6086,521,8 Ave & W 31 St,40.750450,-73.994811,16042,Subscriber,1956.0,1
11,NaN,-73.979955,NaN,1312,2015-02-02 11:07:00+00,2015-02-02 11:29:00+00,393,E 5 St & Avenue C,40.722992,6920,476,E 31 St & 3 Ave,40.743943,-73.979661,17720,Subscriber,1955.0,1
12,NaN,-73.981632,NaN,360,2015-02-03 10:33:00+00,2015-02-03 10:39:00+00,153,E 40 St & 5 Ave,40.752062,9070,523,W 38 St & 8 Ave,40.754666,-73.991382,19432,Subscriber,1975.0,1
13,NaN,-73.994156,NaN,617,2015-02-03 12:51:00+00,2015-02-03 13:01:00+00,435,W 21 St & 6 Ave,40.741740,9442,462,W 22 St & 10 Ave,40.746920,-74.004519,15457,Subscriber,1987.0,2
14,NaN,-73.984907,NaN,233,2015-02-03 16:55:00+00,2015-02-03 16:59:00+00,526,E 33 St & 5 Ave,40.747659,10478,492,W 33 St & 7 Ave,40.750200,-73.990931,17873,Subscriber,1978.0,1
15,NaN,-73.980420,NaN,768,2015-02-03 17:27:00+00,2015-02-03 17:39:00+00,510,W 51 St & 6 Ave,40.760660,10769,492,W 33 St & 7 Ave,40.750200,-73.990931,15552,Subscriber,1977.0,1
16,NaN,-73.966033,NaN,392,2015-02-03 17:44:00+00,2015-02-03 17:50:00+00,385,E 55 St & 2 Ave,40.757973,10930,2022,E 59 St & Sutton Pl,40.758491,-73.959206,20994,Subscriber,1989.0,1
17,NaN,-73.986831,NaN,647,2015-02-03 18:01:00+00,2015-02-03 18:12:00+00,474,5 Ave & E 29 St,40.745168,11095,465,Broadway & W 41 St,40.755136,-73.986580,15740,Subscriber,1983.0,1
18,NaN,-74.002939,NaN,3589,2015-02-03 19:55:00+00,2015-02-03 20:55:00+00,380,W 4 St & 7 Ave S,40.734011,11966,441,E 52 St & 2 Ave,40.756014,-73.967416,18079,Customer,NaN,0
19,NaN,-73.980572,NaN,319,2015-02-03 19:55:00+00,2015-02-03 20:01:00+00,433,E 13 St & Avenue A,40.729554,11971,410,Suffolk St & Stanton St,40.720664,-73.985180,17595,Subscriber,1990.0,1
20,NaN,-73.976056,NaN,538,2015-02-04 07:58:00+00,2015-02-04 08:07:00+00,527,E 33 St & 2 Ave,40.744023,13543,516,E 47 St & 1 Ave,40.752069,-73.967844,20322,Subscriber,1976.0,2
21,NaN,-73.990026,NaN,883,2015-02-04 08:15:00+00,2015-02-04 08:30:00+00,477,W 41 St & 8 Ave,40.756405,13760,168,W 18 St & 6 Ave,40.739713,-73.994564,21186,Subscriber,1981.0,1
22,NaN,-73.990026,NaN,583,2015-02-04 08:37:00+00,2015-02-04 08:46:00+00,477,W 41 St & 8 Ave,40.756405,14055,518,E 39 St & 2 Ave,40.747804,-73.973442,21285,Subscriber,1985.0,1
23,NaN,-73.982912,NaN,966,2015-02-04 08:46:00+00,2015-02-04 09:02:00+00,493,W 45 St & 6 Ave,40.756800,14181,454,E 51 St & 1 Ave,40.754557,-73.965930,21462,Subscriber,1964.0,1
24,NaN,-73.977061,NaN,496,2015-02-04 09:13:00+00,2015-02-04 09:22:00+00,528,2 Ave & E 31 St,40.742909,14573,486,Broadway & W 29 St,40.746201,-73.988557,19977,Subscriber,1959.0,1
25,NaN,-73.994156,NaN,353,2015-02-04 11:58:00+00,2015-02-04 12:04:00+00,435,W 21 St & 6 Ave,40.741740,15658,463,9 Ave & W 16 St,40.742065,-74.004432,16097,Subscriber,1972.0,1
26,NaN,-73.977910,NaN,707,2015-02-04 17:56:00+00,2015-02-04 18:08:00+00,517,Pershing Square South,40.751581,18779,2022,E 59 St & Sutton Pl,40.758491,-73.959206,18134,Subscriber,1978.0,1
27,NaN,-73.964785,NaN,351,2015-02-04 19:12:00+00,2015-02-04 19:18:00+00,290,2 Ave & E 58 St,40.760203,19945,518,E 39 St & 2 Ave,40.747804,-73.973442,15196,Subscriber,1972.0,1
28,NaN,-73.990985,NaN,191,2015-02-04 22:27:00+00,2015-02-04 22:30:00+00,529,W 42 St & 8 Ave,40.757570,21359,478,11 Ave & W 41 St,40.760301,-73.998842,20097,Subscriber,1971.0,1
29,NaN,-73.990931,NaN,159,2015-02-05 05:42:00+00,2015-02-05 05:44:00+00,492,W 33 St & 7 Ave,40.750200,21821,442,W 27 St & 7 Ave,40.746647,-73.993915,16199,Subscriber,1968.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46170,NaN,-73.994046,NaN,812,2015-02-07 23:51:00+00,2015-02-08 00:05:00+00,335,Washington Pl & Broadway,40.729039,46171,435,W 21 St & 6 Ave,40.741740,-73.994156,15733,Subscriber,1988.0,1
46171,NaN,-73.991908,NaN,647,2015-02-07 23:51:00+00,2015-02-08 00:02:00+00,361,Allen St & Hester St,40.716059,46172,504,1 Ave & E 15 St,40.732219,-73.981656,16931,Subscriber,1995.0,1
46172,NaN,-74.009106,NaN,563,2015-02-07 23:51:00+00,2015-02-08 00:00:00+00,152,Warren St & Church St,40.714740,46173,401,Allen St & Rivington St,40.720196,-73.989978,17202,Subscriber,1987.0,1
46173,NaN,-73.988900,NaN,470,2015-02-07 23:51:00+00,2015-02-07 23:59:00+00,483,E 12 St & 3 Ave,40.732233,46174,439,E 4 St & 2 Ave,40.726281,-73.989780,20314,Subscriber,1989.0,2
46174,NaN,-73.978951,NaN,299,2015-02-07 23:51:00+00,2015-02-07 23:56:00+00,467,Dean St & 4 Ave,40.683125,46175,395,Bond St & Schermerhorn St,40.688070,-73.984106,21531,Subscriber,1989.0,1
46175,NaN,-73.991908,NaN,629,2015-02-07 23:52:00+00,2015-02-08 00:02:00+00,361,Allen St & Hester St,40.716059,46176,504,1 Ave & E 15 St,40.732219,-73.981656,21491,Subscriber,1968.0,1
46176,NaN,-73.989551,NaN,499,2015-02-07 23:52:00+00,2015-02-08 00:00:00+00,402,Broadway & E 22 St,40.740343,46177,380,W 4 St & 7 Ave S,40.734011,-74.002939,15367,Subscriber,1990.0,1
46177,NaN,-74.000264,NaN,474,2015-02-07 23:52:00+00,2015-02-08 00:00:00+00,369,Washington Pl & 6 Ave,40.732241,46178,368,Carmine St & 6 Ave,40.730386,-74.002150,18978,Subscriber,1973.0,2
46178,NaN,-73.979661,NaN,345,2015-02-07 23:52:00+00,2015-02-07 23:58:00+00,476,E 31 St & 3 Ave,40.743943,46179,504,1 Ave & E 15 St,40.732219,-73.981656,19507,Subscriber,1980.0,1
46179,NaN,-73.981918,NaN,829,2015-02-07 23:53:00+00,2015-02-08 00:07:00+00,499,Broadway & W 60 St,40.769155,46180,160,E 37 St & Lexington Ave,40.748238,-73.978311,16936,Subscriber,1980.0,1
46180,NaN,-74.002150,NaN,776,2015-02-07 23:53:00+00,2015-02-08 00:05:00+00,368,Carmine St & 6 Ave,40.730386,46181,531,Forsyth St & Broome St,40.718939,-73.992663,18689,Subscriber,1982.0,1
46181,NaN,-73.976485,NaN,697,2015-02-07 23:53:00+00,2015-02-08 00:05:00+00,520,W 52 St & 5 Ave,40.759923,46182,478,11 Ave & W 41 St,40.760301,-73.998842,15781,Subscriber,1972.0,1
46182,NaN,-73.978951,NaN,1703,2015-02-07 23:54:00+00,2015-02-08 00:23:00+00,467,Dean St & 4 Ave,40.683125,46183,471,Grand St & Havemeyer St,40.712868,-73.956981,15081,Subscriber,1988.0,1
46183,NaN,-73.991255,NaN,922,2015-02-07 23:54:00+00,2015-02-08 00:10:00+00,479,9 Ave & W 45 St,40.760193,46184,247,Perry St & Bleecker St,40.735354,-74.004831,21672,Subscriber,1983.0,1
46184,NaN,-73.981693,NaN,849,2015-02-07 23:54:00+00,2015-02-08 00:08:00+00,457,Broadway & W 58 St,40.766953,46185,488,W 39 St & 9 Ave,40.756458,-73.993722,16336,Subscriber,1970.0,1
46185,NaN,-73.981693,NaN,826,2015-02-07 23:54:00+00,2015-02-08 00:08:00+00,457,Broadway & W 58 St,40.766953,46186,488,W 39 St & 9 Ave,40.756458,-73.993722,21609,Subscriber,1973.0,1
46186,NaN,-74.009660,NaN,473,2015-02-07 23:54:00+00,2015-02-08 00:02:00+00,328,Watts St & Greenwich St,40.724055,46187,3002,South End Ave & Liberty St,40.711512,-74.015756,19470,Subscriber,1964.0,1
46187,NaN,-73.980420,NaN,332,2015-02-07 23:54:00+00,2015-02-07 23:59:00+00,510,W 51 St & 6 Ave,40.760660,46188,450,W 49 St & 8 Ave,40.762272,-73.987882,18167,Subscriber,1960.0,1
46188,NaN,-73.992005,NaN,456,2015-02-07 23:55:00+00,2015-02-08 00:03:00+00,382,University Pl & E 14 St,40.734927,46189,404,9 Ave & W 14 St,40.740583,-74.005509,15929,Subscriber,1987.0,1
46189,NaN,-73.998004,NaN,327,2015-02-07 23:55:00+00,2015-02-08 00:01:00+00,254,W 11 St & 6 Ave,40.735324,46190,466,W 25 St & 6 Ave,40.743954,-73.991449,17541,Subscriber,1983.0,1
46190,NaN,-74.001497,NaN,306,2015-02-07 23:55:00+00,2015-02-08 00:01:00+00,116,W 17 St & 8 Ave,40.741776,46191,494,W 26 St & 8 Ave,40.747348,-73.997236,14736,Subscriber,1983.0,2
46191,NaN,-73.993012,NaN,1248,2015-02-07 23:56:00+00,2015-02-08 00:17:00+00,495,W 47 St & 10 Ave,40.762699,46192,432,E 7 St & Avenue A,40.726218,-73.983799,16300,Subscriber,1984.0,1
46192,NaN,-74.009106,NaN,1165,2015-02-07 23:56:00+00,2015-02-08 00:15:00+00,152,Warren St & Church St,40.714740,46193,325,E 19 St & 3 Ave,40.736245,-73.984738,16978,Subscriber,1959.0,1
46193,NaN,-73.982050,NaN,993,2015-02-07 23:56:00+00,2015-02-08 00:13:00+00,461,E 20 St & 2 Ave,40.735877,46194,295,Pike St & E Broadway,40.714067,-73.992939,16722,Subscriber,1974.0,1
46194,NaN,-73.969053,NaN,1422,2015-02-07 23:57:00+00,2015-02-08 00:20:00+00,455,1 Ave & E 44 St,40.750020,46195,265,Stanton St & Chrystie St,40.722293,-73.991475,20184,Subscriber,1960.0,2
46195,NaN,-74.000040,NaN,689,2015-02-07 23:57:00+00,2015-02-08 00:08:00+00,470,W 20 St & 8 Ave,40.743453,46196,325,E 19 St & 3 Ave,40.736245,-73.984738,15585,Subscriber,1953.0,1
46196,NaN,-73.986831,NaN,428,2015-02-07 23:57:00+00,2015-02-08 00:04:00+00,474,5 Ave & E 29 St,40.745168,46197,325,E 19 St & 3 Ave,40.736245,-73.984738,16395,Subscriber,1986.0,2
46197,NaN,-73.986831,NaN,392,2015-02-07 23:57:00+00,2015-02-08 00:03:00+00,474,5 Ave & E 29 St,40.745168,46198,325,E 19 St & 3 Ave,40.736245,-73.984738,15545,Subscriber,1986.0,1
46198,NaN,-74.002150,NaN,548,2015-02-07 23:58:00+00,2015-02-08 00:08:00+00,368,Carmine St & 6 Ave,40.730386,46199,334,W 20 St & 7 Ave,40.742388,-73.997262,19540,Subscriber,1983.0,2
46199,NaN,-73.989780,NaN,917,2015-02-07 23:59:00+00,2015-02-08 00:15:00+00,439,E 4 St & 2 Ave,40.726281,46200,417,Barclay St & Church St,40.712912,-74.010202,20998,Subscriber,1965.0,2

**Task 1 â€” Familiarize with SQL Clauses**

In [41]:
test = '''
SELECT start_station_id, tripduration
FROM htv210.citibike_feb_2015
Where tripduration <= 10800
ORDER BY start_station_id
'''

table = get_data(test)
table

       start_station_id  tripduration
0                    72           396
1                    72           517
2                    72           420
3                    72          1242
4                    72           569
5                    72           301
6                    72          1382
7                    72           479
8                    72           915
9                    72           621
10                   72           348
11                   72           777
12                   72           377
13                   72           613
14                   72          1678
15                   72           386
16                   72           288
17                   72           424
18                   72          1388
19                   72           432
20                   72          1914
21                   72           429
22                   72           728
23                   72           668
24                   72           953
25                   72           654
26                   72           817
27                   72           379
28                   72           367
29                   72           928
...                 ...           ...
46121              3002           301
46122              3002           243
46123              3002           771
46124              3002          1221
46125              3002           575
46126              3002           181
46127              3002           355
46128              3002          1823
46129              3002          1417
46130              3002           876
46131              3002          2139
46132              3002          1830
46133              3002           531
46134              3002           653
46135              3002           634
46136              3002           403
46137              3002           307
46138              3002           118
46139              3002           270
46140              3002           282
46141              3002           390
46142              3002           705
46143              3002           499
46144              3002           252
46145              3002           661
46146              3002          1005
46147              3002           879
46148              3002           850
46149              3002          1218
46150              3002           399

[46151 rows x 2 columns]

In [50]:
test = '''
SELECT *
FROM htv210.citibike_feb_2015
ORDER BY start_station_id
LIMIT 10
'''

table = get_data(test)
table

,the_geom,start_station_longitude,the_geom_webmercator,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,cartodb_id,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,-73.993929,NaN,569,2015-02-01 14:52:00+00,2015-02-01 15:01:00+00,72,W 52 St & 11 Ave,40.767272,3302,499,Broadway & W 60 St,40.769155,-73.981918,17429,Subscriber,1981.0,1
1,NaN,-73.993929,NaN,387,2015-02-01 15:57:00+00,2015-02-01 16:03:00+00,72,W 52 St & 11 Ave,40.767272,3957,514,12 Ave & W 40 St,40.760875,-74.002777,15282,Subscriber,1991.0,1
2,NaN,-73.993929,NaN,301,2015-02-01 13:08:00+00,2015-02-01 13:13:00+00,72,W 52 St & 11 Ave,40.767272,2282,447,8 Ave & W 52 St,40.763707,-73.985162,18174,Subscriber,1974.0,1
3,NaN,-73.993929,NaN,1944,2015-02-01 12:39:00+00,2015-02-01 13:12:00+00,72,W 52 St & 11 Ave,40.767272,1983,328,Watts St & Greenwich St,40.724055,-74.009660,17849,Customer,NaN,0
4,NaN,-73.993929,NaN,961,2015-02-01 08:38:00+00,2015-02-01 08:54:00+00,72,W 52 St & 11 Ave,40.767272,387,212,W 16 St & The High Line,40.743349,-74.006818,20786,Subscriber,1972.0,2
5,NaN,-73.993929,NaN,962,2015-02-01 11:47:00+00,2015-02-01 12:03:00+00,72,W 52 St & 11 Ave,40.767272,1527,212,W 16 St & The High Line,40.743349,-74.006818,16524,Subscriber,1977.0,1
6,NaN,-73.993929,NaN,339,2015-02-01 12:54:00+00,2015-02-01 13:00:00+00,72,W 52 St & 11 Ave,40.767272,2142,478,11 Ave & W 41 St,40.760301,-73.998842,19672,Subscriber,1982.0,1
7,NaN,-73.993929,NaN,344,2015-02-01 09:49:00+00,2015-02-01 09:54:00+00,72,W 52 St & 11 Ave,40.767272,649,2021,W 45 St & 8 Ave,40.759291,-73.988597,14692,Subscriber,1986.0,2
8,NaN,-73.993929,NaN,934,2015-02-01 11:14:00+00,2015-02-01 11:30:00+00,72,W 52 St & 11 Ave,40.767272,1230,212,W 16 St & The High Line,40.743349,-74.006818,17541,Subscriber,1969.0,1
9,NaN,-73.993929,NaN,455,2015-02-01 17:55:00+00,2015-02-01 18:03:00+00,72,W 52 St & 11 Ave,40.767272,5136,529,W 42 St & 8 Ave,40.757570,-73.990985,16427,Subscriber,1983.0,1

In [51]:
test = '''
SELECT *
FROM htv210.citibike_feb_2015
ORDER BY start_station_id DESC
LIMIT 10
'''

table = get_data(test)
table

,the_geom,start_station_longitude,the_geom_webmercator,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,cartodb_id,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,-74.015756,NaN,307,2015-02-01 12:42:00+00,2015-02-01 12:47:00+00,3002,South End Ave & Liberty St,40.711512,2026,147,Greenwich St & Warren St,40.715422,-74.011220,18386,Subscriber,1984.0,2
1,NaN,-74.015756,NaN,745,2015-02-01 11:57:00+00,2015-02-01 12:09:00+00,3002,South End Ave & Liberty St,40.711512,1628,369,Washington Pl & 6 Ave,40.732241,-74.000264,20901,Subscriber,1980.0,1
2,NaN,-74.015756,NaN,858,2015-02-01 11:53:00+00,2015-02-01 12:07:00+00,3002,South End Ave & Liberty St,40.711512,1587,355,Bayard St & Baxter St,40.716021,-73.999744,15748,Subscriber,1959.0,1
3,NaN,-74.015756,NaN,689,2015-02-01 12:25:00+00,2015-02-01 12:36:00+00,3002,South End Ave & Liberty St,40.711512,1863,358,Christopher St & Greenwich St,40.732916,-74.007114,19309,Subscriber,1996.0,1
4,NaN,-74.015756,NaN,1243,2015-02-01 11:27:00+00,2015-02-01 11:48:00+00,3002,South End Ave & Liberty St,40.711512,1333,360,William St & Pine St,40.707179,-74.008873,18288,Customer,NaN,0
5,NaN,-74.015756,NaN,683,2015-02-01 11:43:00+00,2015-02-01 11:55:00+00,3002,South End Ave & Liberty St,40.711512,1472,308,St James Pl & Oliver St,40.713079,-73.998512,16987,Subscriber,1980.0,2
6,NaN,-74.015756,NaN,7225,2015-02-01 11:46:00+00,2015-02-01 13:47:00+00,3002,South End Ave & Liberty St,40.711512,1506,499,Broadway & W 60 St,40.769155,-73.981918,21202,Customer,NaN,0
7,NaN,-74.015756,NaN,1900,2015-02-01 11:14:00+00,2015-02-01 11:45:00+00,3002,South End Ave & Liberty St,40.711512,1228,525,W 34 St & 11 Ave,40.755942,-74.002116,17849,Customer,NaN,0
8,NaN,-74.015756,NaN,301,2015-02-01 07:49:00+00,2015-02-01 07:54:00+00,3002,South End Ave & Liberty St,40.711512,293,417,Barclay St & Church St,40.712912,-74.010202,19484,Subscriber,1980.0,2
9,NaN,-74.015756,NaN,790,2015-02-01 13:01:00+00,2015-02-01 13:14:00+00,3002,South End Ave & Liberty St,40.711512,2205,368,Carmine St & 6 Ave,40.730386,-74.002150,17004,Subscriber,1979.0,1

In [54]:
test = '''
SELECT DISTINCT start_station_id
FROM htv210.citibike_feb_2015
'''

table = get_data(test)
table

     start_station_id  Unnamed: 1
0                 120         NaN
1                 285         NaN
2                 251         NaN
3                 195         NaN
4                 453         NaN
5                 144         NaN
6                 266         NaN
7                 263         NaN
8                 216         NaN
9                 328         NaN
10                353         NaN
11                212         NaN
12                383         NaN
13                538         NaN
14                217         NaN
15                300         NaN
16                456         NaN
17                128         NaN
18                223         NaN
19                244         NaN
20                494         NaN
21                403         NaN
22                260         NaN
23                411         NaN
24                445         NaN
25                377         NaN
26                427         NaN
27                232         NaN
28                331         NaN
29                416         NaN
..                ...         ...
297               127         NaN
298               397         NaN
299               454         NaN
300               310         NaN
301               531         NaN
302               268         NaN
303               329         NaN
304               518         NaN
305               514         NaN
306               437         NaN
307               270         NaN
308               356         NaN
309               399         NaN
310               119         NaN
311               384         NaN
312               151         NaN
313               362         NaN
314               262         NaN
315               313         NaN
316              2008         NaN
317               276         NaN
318               470         NaN
319               455         NaN
320               496         NaN
321               312         NaN
322               318         NaN
323               305         NaN
324               497         NaN
325               264         NaN
326               483         NaN

[327 rows x 2 columns]

In [56]:
test = '''
SELECT COUNT (cartodb_id)
FROM htv210.citibike_feb_2015
'''

table = get_data(test)
table

   count  Unnamed: 1
0  46200         NaN

In [58]:
test = '''
SELECT AVG (tripduration)
FROM htv210.citibike_feb_2015
'''

table = get_data(test)
table

          avg  Unnamed: 1
0  675.865823         NaN

In [59]:
test = '''
SELECT MIN (tripduration)
FROM htv210.citibike_feb_2015
'''

table = get_data(test)
table

   min  Unnamed: 1
0   60         NaN

In [60]:
test = '''
SELECT MAX (tripduration)
FROM htv210.citibike_feb_2015
'''

table = get_data(test)
table

     max  Unnamed: 1
0  43016         NaN

**Task 2 â€” Working with date/time**

In [66]:
test = '''
SELECT *
FROM htv210.citibike_feb_2015
WHERE starttime BETWEEN '02/02/2015 00:00:00' AND '02/02/2015 23:59:59'
'''

table = get_data(test)
table

,the_geom,start_station_longitude,the_geom_webmercator,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,cartodb_id,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,-73.979955,NaN,1312,2015-02-02 11:07:00+00,2015-02-02 11:29:00+00,393,E 5 St & Avenue C,40.722992,6920,476,E 31 St & 3 Ave,40.743943,-73.979661,17720,Subscriber,1955.0,1
1,NaN,-74.004432,NaN,444,2015-02-02 00:40:00+00,2015-02-02 00:48:00+00,463,9 Ave & W 16 St,40.742065,6477,489,10 Ave & W 28 St,40.750664,-74.001768,20233,Subscriber,1971.0,1
2,NaN,-74.004432,NaN,438,2015-02-02 00:40:00+00,2015-02-02 00:47:00+00,463,9 Ave & W 16 St,40.742065,6478,489,10 Ave & W 28 St,40.750664,-74.001768,20264,Subscriber,1981.0,2
3,NaN,-73.990931,NaN,498,2015-02-02 06:20:00+00,2015-02-02 06:28:00+00,492,W 33 St & 7 Ave,40.750200,6526,493,W 45 St & 6 Ave,40.756800,-73.982912,16013,Subscriber,1962.0,2
4,NaN,-73.993915,NaN,199,2015-02-02 00:02:00+00,2015-02-02 00:05:00+00,442,W 27 St & 7 Ave,40.746647,6442,489,10 Ave & W 28 St,40.750664,-74.001768,20684,Subscriber,1992.0,1
5,NaN,-73.984267,NaN,418,2015-02-02 00:03:00+00,2015-02-02 00:10:00+00,326,E 11 St & 1 Ave,40.729538,6443,349,Rivington St & Ridge St,40.718502,-73.983299,16094,Subscriber,1964.0,2
6,NaN,-74.001670,NaN,276,2015-02-02 00:04:00+00,2015-02-02 00:09:00+00,279,Peck Slip & Front St,40.707873,6444,415,Pearl St & Hanover Square,40.704718,-74.009260,17362,Subscriber,1974.0,1
7,NaN,-73.992390,NaN,420,2015-02-02 00:06:00+00,2015-02-02 00:13:00+00,496,E 16 St & 5 Ave,40.737262,6445,237,E 11 St & 2 Ave,40.730473,-73.986724,15475,Subscriber,1992.0,2
8,NaN,-73.990026,NaN,304,2015-02-02 00:07:00+00,2015-02-02 00:12:00+00,477,W 41 St & 8 Ave,40.756405,6446,450,W 49 St & 8 Ave,40.762272,-73.987882,16272,Subscriber,1968.0,1
9,NaN,-73.978951,NaN,622,2015-02-02 00:08:00+00,2015-02-02 00:18:00+00,467,Dean St & 4 Ave,40.683125,6447,391,Clark St & Henry St,40.697601,-73.993446,16370,Subscriber,1979.0,1
10,NaN,-74.003664,NaN,371,2015-02-02 00:09:00+00,2015-02-02 00:15:00+00,434,9 Ave & W 18 St,40.743174,6448,482,W 15 St & 7 Ave,40.739355,-73.999318,19437,Subscriber,1963.0,1
11,NaN,-74.005628,NaN,477,2015-02-02 00:11:00+00,2015-02-02 00:19:00+00,330,Reade St & Broadway,40.714505,6449,2008,Little West St & 1 Pl,40.705693,-74.016777,21211,Subscriber,1982.0,1
12,NaN,-73.994811,NaN,743,2015-02-02 00:12:00+00,2015-02-02 00:25:00+00,521,8 Ave & W 31 St,40.750450,6450,423,W 54 St & 9 Ave,40.765849,-73.986905,21417,Subscriber,1978.0,2
13,NaN,-73.981656,NaN,599,2015-02-02 00:12:00+00,2015-02-02 00:22:00+00,504,1 Ave & E 15 St,40.732219,6451,453,W 22 St & 8 Ave,40.744751,-73.999154,15722,Subscriber,1956.0,1
14,NaN,-73.990741,NaN,345,2015-02-02 00:12:00+00,2015-02-02 00:18:00+00,285,Broadway & E 14 St,40.734546,6452,236,St Marks Pl & 2 Ave,40.728419,-73.987140,18972,Subscriber,1962.0,1
15,NaN,-73.983688,NaN,721,2015-02-02 00:13:00+00,2015-02-02 00:25:00+00,301,E 2 St & Avenue B,40.722174,6453,476,E 31 St & 3 Ave,40.743943,-73.979661,19628,Subscriber,1980.0,1
16,NaN,-74.001670,NaN,182,2015-02-02 00:13:00+00,2015-02-02 00:16:00+00,279,Peck Slip & Front St,40.707873,6454,376,John St & William St,40.708621,-74.007222,15169,Subscriber,1978.0,1
17,NaN,-73.980166,NaN,154,2015-02-02 00:13:00+00,2015-02-02 00:16:00+00,342,Columbia St & Rivington St,40.717400,6455,411,E 6 St & Avenue D,40.722281,-73.976687,17533,Subscriber,1997.0,1
18,NaN,-74.000040,NaN,435,2015-02-02 00:14:00+00,2015-02-02 00:21:00+00,470,W 20 St & 8 Ave,40.743453,6456,491,E 24 St & Park Ave S,40.740964,-73.986022,19761,Subscriber,1983.0,1
19,NaN,-73.987140,NaN,310,2015-02-02 00:15:00+00,2015-02-02 00:20:00+00,236,St Marks Pl & 2 Ave,40.728419,6457,393,E 5 St & Avenue C,40.722992,-73.979955,17267,Subscriber,1993.0,1
20,NaN,-74.000040,NaN,1274,2015-02-02 00:16:00+00,2015-02-02 00:37:00+00,470,W 20 St & 8 Ave,40.743453,6458,470,W 20 St & 8 Ave,40.743453,-74.000040,18691,Subscriber,1964.0,1
21,NaN,-73.983390,NaN,642,2015-02-02 00:18:00+00,2015-02-02 00:29:00+00,485,W 37 St & 5 Ave,40.750380,6459,174,E 25 St & 1 Ave,40.738177,-73.977387,17106,Subscriber,1977.0,1
22,NaN,-73.997044,NaN,256,2015-02-02 00:18:00+00,2015-02-02 00:22:00+00,345,W 13 St & 6 Ave,40.736494,6460,483,E 12 St & 3 Ave,40.732233,-73.988900,20009,Subscriber,1973.0,1
23,NaN,-74.001768,NaN,334,2015-02-02 00:19:00+00,2015-02-02 00:25:00+00,489,10 Ave & W 28 St,40.750664,6461,442,W 27 St & 7 Ave,40.746647,-73.993915,18777,Subscriber,1979.0,1
24,NaN,-73.979738,NaN,90,2015-02-02 00:19:00+00,2015-02-02 00:20:00+00,507,E 25 St & 2 Ave,40.739126,6462,174,E 25 St & 1 Ave,40.738177,-73.977387,15357,Subscriber,1989.0,1
25,NaN,-74.002939,NaN,203,2015-02-02 00:20:00+00,2015-02-02 00:23:00+00,380,W 4 St & 7 Ave S,40.734011,6463,405,Washington St & Gansevoort St,40.739323,-74.008119,18487,Subscriber,1983.0,1
26,NaN,-73.997262,NaN,649,2015-02-02 00:22:00+00,2015-02-02 00:32:00+00,334,W 20 St & 7 Ave,40.742388,6464,439,E 4 St & 2 Ave,40.726281,-73.989780,20863,Subscriber,1981.0,1
27,NaN,-73.996674,NaN,319,2015-02-02 00:23:00+00,2015-02-02 00:29:00+00,508,W 46 St & 11 Ave,40.763414,6465,448,W 37 St & 10 Ave,40.756604,-73.997901,16539,Subscriber,1970.0,1
28,NaN,-73.987834,NaN,154,2015-02-02 00:27:00+00,2015-02-02 00:30:00+00,428,E 3 St & 1 Ave,40.724677,6466,301,E 2 St & Avenue B,40.722174,-73.983688,18737,Subscriber,1961.0,1
29,NaN,-73.991930,NaN,550,2015-02-02 00:28:00+00,2015-02-02 00:37:00+00,331,Pike St & Monroe St,40.711731,6467,195,Liberty St & Broadway,40.709056,-74.010434,17797,Subscriber,1980.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1429,NaN,-73.989111,NaN,722,2015-02-02 23:08:00+00,2015-02-02 23:20:00+00,312,Allen St & E Houston St,40.722055,7871,380,W 4 St & 7 Ave S,40.734011,-74.002939,20572,Subscriber,1985.0,1
1430,NaN,-73.988557,NaN,274,2015-02-02 23:08:00+00,2015-02-02 23:12:00+00,486,Broadway & W 29 St,40.746201,7872,491,E 24 St & Park Ave S,40.740964,-73.986022,20338,Subscriber,1981.0,1
1431,NaN,-73.977225,NaN,951,2015-02-02 23:11:00+00,2015-02-02 23:27:00+00,352,W 56 St & 6 Ave,40.763406,7873,515,W 43 St & 10 Ave,40.760094,-73.994618,15826,Subscriber,1978.0,1
1432,NaN,-74.001768,NaN,276,2015-02-02 23:16:00+00,2015-02-02 23:20:00+00,489,10 Ave & W 28 St,40.750664,7874,521,8 Ave & W 31 St,40.750450,-73.994811,18325,Subscriber,1990.0,1
1433,NaN,-73.997236,NaN,426,2015-02-02 23:17:00+00,2015-02-02 23:24:00+00,494,W 26 St & 8 Ave,40.747348,7875,434,9 Ave & W 18 St,40.743174,-74.003664,16654,Subscriber,1977.0,1
1434,NaN,-73.989551,NaN,578,2015-02-02 23:19:00+00,2015-02-02 23:28:00+00,402,Broadway & E 22 St,40.740343,7876,229,Great Jones St,40.727434,-73.993790,20902,Subscriber,1966.0,1
1435,NaN,-73.970325,NaN,2621,2015-02-02 23:22:00+00,2015-02-03 00:06:00+00,164,E 47 St & 2 Ave,40.753231,7877,2017,E 43 St & 2 Ave,40.750224,-73.971214,20796,Subscriber,1954.0,1
1436,NaN,-73.988084,NaN,621,2015-02-02 23:22:00+00,2015-02-02 23:32:00+00,498,Broadway & W 32 St,40.748549,7878,449,W 52 St & 9 Ave,40.764618,-73.987895,20160,Subscriber,1989.0,1
1437,NaN,-73.994811,NaN,323,2015-02-02 23:23:00+00,2015-02-02 23:29:00+00,521,8 Ave & W 31 St,40.750450,7879,477,W 41 St & 8 Ave,40.756405,-73.990026,17392,Subscriber,1974.0,1
1438,NaN,-74.003664,NaN,393,2015-02-02 23:24:00+00,2015-02-02 23:31:00+00,434,9 Ave & W 18 St,40.743174,7880,482,W 15 St & 7 Ave,40.739355,-73.999318,17263,Subscriber,1963.0,1
1439,NaN,-73.998102,NaN,597,2015-02-02 23:25:00+00,2015-02-02 23:35:00+00,161,LaGuardia Pl & W 3 St,40.729170,7881,497,E 17 St & Broadway,40.737050,-73.990093,19858,Subscriber,1955.0,1
1440,NaN,-73.997236,NaN,244,2015-02-02 23:25:00+00,2015-02-02 23:30:00+00,494,W 26 St & 8 Ave,40.747348,7882,462,W 22 St & 10 Ave,40.746920,-74.004519,20319,Subscriber,1979.0,1
1441,NaN,-74.005301,NaN,1023,2015-02-02 23:26:00+00,2015-02-02 23:43:00+00,306,Cliff St & Fulton St,40.708235,7883,127,Barrow St & Hudson St,40.731724,-74.006744,21600,Subscriber,1977.0,1
1442,NaN,-73.983299,NaN,419,2015-02-02 23:31:00+00,2015-02-02 23:38:00+00,349,Rivington St & Ridge St,40.718502,7884,473,Rivington St & Chrystie St,40.721101,-73.991925,18791,Subscriber,1986.0,1
1443,NaN,-73.987882,NaN,1429,2015-02-02 23:32:00+00,2015-02-02 23:55:00+00,450,W 49 St & 8 Ave,40.762272,7885,358,Christopher St & Greenwich St,40.732916,-74.007114,17730,Subscriber,1966.0,1
1444,NaN,-73.977706,NaN,676,2015-02-02 23:32:00+00,2015-02-02 23:44:00+00,519,Pershing Square North,40.751873,7886,477,W 41 St & 8 Ave,40.756405,-73.990026,18147,Subscriber,1980.0,1
1445,NaN,-73.983035,NaN,879,2015-02-02 23:33:00+00,2015-02-02 23:48:00+00,546,E 30 St & Park Ave S,40.744449,7887,489,10 Ave & W 28 St,40.750664,-74.001768,20249,Subscriber,1959.0,1
1446,NaN,-73.999061,NaN,593,2015-02-02 23:35:00+00,2015-02-02 23:45:00+00,336,Sullivan St & Washington Sq,40.730477,7888,432,E 7 St & Avenue A,40.726218,-73.983799,18078,Subscriber,1988.0,1
1447,NaN,-73.990985,NaN,839,2015-02-02 23:36:00+00,2015-02-02 23:50:00+00,529,W 42 St & 8 Ave,40.757570,7889,164,E 47 St & 2 Ave,40.753231,-73.970325,16808,Subscriber,1983.0,1
1448,NaN,-73.989551,NaN,560,2015-02-02 23:37:00+00,2015-02-02 23:46:00+00,402,Broadway & E 22 St,40.740343,7890,368,Carmine St & 6 Ave,40.730386,-74.002150,21355,Subscriber,1986.0,1
1449,NaN,-73.981656,NaN,165,2015-02-02 23:37:00+00,2015-02-02 23:40:00+00,504,1 Ave & E 15 St,40.732219,7891,511,E 14 St & Avenue B,40.729387,-73.977724,15359,Subscriber,1994.0,1
1450,NaN,-73.988484,NaN,813,2015-02-02 23:42:00+00,2015-02-02 23:56:00+00,505,6 Ave & W 33 St,40.749013,7892,489,10 Ave & W 28 St,40.750664,-74.001768,18250,Subscriber,1982.0,2
1451,NaN,-74.001971,NaN,764,2015-02-02 23:42:00+00,2015-02-02 23:55:00+00,509,9 Ave & W 22 St,40.745497,7893,507,E 25 St & 2 Ave,40.739126,-73.979738,16969,Subscriber,1987.0,1
1452,NaN,-73.992390,NaN,2111,2015-02-02 23:43:00+00,2015-02-03 00:18:00+00,496,E 16 St & 5 Ave,40.737262,7894,397,Fulton St & Clermont Ave,40.684157,-73.969223,18825,Subscriber,1979.0,1
1453,NaN,-73.995101,NaN,518,2015-02-02 23:43:00+00,2015-02-02 23:52:00+00,280,E 10 St & 5 Ave,40.733320,7895,439,E 4 St & 2 Ave,40.726281,-73.989780,19000,Subscriber,1983.0,1
1454,NaN,-73.980144,NaN,371,2015-02-02 23:45:00+00,2015-02-02 23:52:00+00,484,W 44 St & 5 Ave,40.755003,7896,440,E 45 St & 3 Ave,40.752554,-73.972826,20723,Subscriber,1977.0,1
1455,NaN,-74.005524,NaN,188,2015-02-02 23:47:00+00,2015-02-02 23:50:00+00,224,Spruce St & Nassau St,40.711464,7897,417,Barclay St & Church St,40.712912,-74.010202,16528,Subscriber,1988.0,1
1456,NaN,-73.997044,NaN,689,2015-02-02 23:50:00+00,2015-02-03 00:02:00+00,345,W 13 St & 6 Ave,40.736494,7898,394,E 9 St & Avenue C,40.725213,-73.977688,16541,Subscriber,1988.0,1
1457,NaN,-73.999154,NaN,634,2015-02-02 23:55:00+00,2015-02-03 00:05:00+00,453,W 22 St & 8 Ave,40.744751,7899,537,Lexington Ave & E 24 St,40.740259,-73.984092,14878,Subscriber,1961.0,1
1458,NaN,-73.990741,NaN,733,2015-02-02 23:58:00+00,2015-02-03 00:10:00+00,285,Broadway & E 14 St,40.734546,7900,302,Avenue D & E 3 St,40.720828,-73.977932,16326,Subscriber,1976.0,2

In [77]:
test = '''
SELECT *
FROM htv210.citibike_feb_2015
WHERE EXTRACT (DOW FROM starttime) in (0,6)
'''

table = get_data(test)
table

,the_geom,start_station_longitude,the_geom_webmercator,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,cartodb_id,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,-73.993934,NaN,447,2015-02-01 01:11:00+00,2015-02-01 01:19:00+00,490,8 Ave & W 33 St,40.751551,93,479,9 Ave & W 45 St,40.760193,-73.991255,15185,Subscriber,1983.0,2
1,NaN,-73.987216,NaN,277,2015-02-01 10:26:00+00,2015-02-01 10:30:00+00,533,Broadway & W 39 St,40.752996,847,515,W 43 St & 10 Ave,40.760094,-73.994618,16452,Subscriber,1978.0,1
2,NaN,-73.994564,NaN,526,2015-02-01 11:07:00+00,2015-02-01 11:16:00+00,168,W 18 St & 6 Ave,40.739713,1180,521,8 Ave & W 31 St,40.750450,-73.994811,16741,Subscriber,1984.0,1
3,NaN,-73.989551,NaN,502,2015-02-01 12:37:00+00,2015-02-01 12:46:00+00,402,Broadway & E 22 St,40.740343,1971,459,W 20 St & 11 Ave,40.746745,-74.007756,16951,Subscriber,1983.0,1
4,NaN,-73.996674,NaN,943,2015-02-01 12:46:00+00,2015-02-01 13:02:00+00,508,W 46 St & 11 Ave,40.763414,2053,521,8 Ave & W 31 St,40.750450,-73.994811,16897,Subscriber,1966.0,2
5,NaN,-73.993790,NaN,563,2015-02-01 12:54:00+00,2015-02-01 13:03:00+00,229,Great Jones St,40.727434,2138,346,Bank St & Hudson St,40.736529,-74.006180,16722,Subscriber,1984.0,1
6,NaN,-74.002150,NaN,519,2015-02-01 15:21:00+00,2015-02-01 15:29:00+00,368,Carmine St & 6 Ave,40.730386,3591,503,E 20 St & Park Ave,40.738274,-73.987520,15196,Subscriber,1968.0,1
7,NaN,-73.988900,NaN,500,2015-02-01 17:38:00+00,2015-02-01 17:47:00+00,483,E 12 St & 3 Ave,40.732233,4983,435,W 21 St & 6 Ave,40.741740,-73.994156,19409,Customer,NaN,0
8,NaN,-73.997262,NaN,374,2015-02-01 17:48:00+00,2015-02-01 17:55:00+00,334,W 20 St & 7 Ave,40.742388,5067,497,E 17 St & Broadway,40.737050,-73.990093,21456,Customer,NaN,0
9,NaN,-73.984267,NaN,420,2015-02-01 19:26:00+00,2015-02-01 19:33:00+00,326,E 11 St & 1 Ave,40.729538,5748,527,E 33 St & 2 Ave,40.744023,-73.976056,14878,Subscriber,1988.0,1
10,NaN,-73.995299,NaN,315,2015-02-01 21:34:00+00,2015-02-01 21:39:00+00,446,W 24 St & 7 Ave,40.744876,6086,521,8 Ave & W 31 St,40.750450,-73.994811,16042,Subscriber,1956.0,1
11,NaN,-73.990931,NaN,302,2015-02-07 06:33:00+00,2015-02-07 06:38:00+00,492,W 33 St & 7 Ave,40.750200,39722,493,W 45 St & 6 Ave,40.756800,-73.982912,18472,Subscriber,1972.0,1
12,NaN,-74.001497,NaN,424,2015-02-07 00:00:00+00,2015-02-07 00:07:00+00,116,W 17 St & 8 Ave,40.741776,39412,489,10 Ave & W 28 St,40.750664,-74.001768,19071,Subscriber,1963.0,1
13,NaN,-73.986923,NaN,439,2015-02-07 03:43:00+00,2015-02-07 03:50:00+00,297,E 15 St & 3 Ave,40.734232,39651,527,E 33 St & 2 Ave,40.744023,-73.976056,21448,Customer,NaN,0
14,NaN,-73.999318,NaN,463,2015-02-07 09:16:00+00,2015-02-07 09:24:00+00,482,W 15 St & 7 Ave,40.739355,40142,267,Broadway & W 36 St,40.750977,-73.987654,17278,Subscriber,1986.0,1
15,NaN,-73.981656,NaN,852,2015-02-07 09:32:00+00,2015-02-07 09:46:00+00,504,1 Ave & E 15 St,40.732219,40225,459,W 20 St & 11 Ave,40.746745,-74.007756,20618,Subscriber,1960.0,2
16,NaN,-73.967844,NaN,2049,2015-02-07 10:35:00+00,2015-02-07 11:09:00+00,516,E 47 St & 1 Ave,40.752069,40705,484,W 44 St & 5 Ave,40.755003,-73.980144,21066,Customer,NaN,0
17,NaN,-73.994156,NaN,400,2015-02-07 11:31:00+00,2015-02-07 11:38:00+00,435,W 21 St & 6 Ave,40.741740,41101,533,Broadway & W 39 St,40.752996,-73.987216,16087,Subscriber,1971.0,1
18,NaN,-74.005664,NaN,1597,2015-02-07 11:57:00+00,2015-02-07 12:24:00+00,377,6 Ave & Canal St,40.722438,41270,2021,W 45 St & 8 Ave,40.759291,-73.988597,17877,Customer,NaN,0
19,NaN,-73.990093,NaN,996,2015-02-07 12:37:00+00,2015-02-07 12:53:00+00,497,E 17 St & Broadway,40.737050,41517,494,W 26 St & 8 Ave,40.747348,-73.997236,21527,Subscriber,1990.0,1
20,NaN,-73.984738,NaN,1640,2015-02-07 14:01:00+00,2015-02-07 14:28:00+00,325,E 19 St & 3 Ave,40.736245,42172,301,E 2 St & Avenue B,40.722174,-73.983688,16077,Customer,NaN,0
21,NaN,-73.979955,NaN,493,2015-02-07 15:40:00+00,2015-02-07 15:48:00+00,393,E 5 St & Avenue C,40.722992,43056,504,1 Ave & E 15 St,40.732219,-73.981656,19574,Subscriber,1972.0,1
22,NaN,-73.983362,NaN,2092,2015-02-07 16:50:00+00,2015-02-07 17:25:00+00,500,Broadway & W 51 St,40.762288,43762,447,8 Ave & W 52 St,40.763707,-73.985162,18605,Subscriber,1975.0,1
23,NaN,-73.990985,NaN,1104,2015-02-07 17:23:00+00,2015-02-07 17:41:00+00,529,W 42 St & 8 Ave,40.757570,44093,463,9 Ave & W 16 St,40.742065,-74.004432,18767,Customer,NaN,0
24,NaN,-73.979481,NaN,1526,2015-02-07 17:34:00+00,2015-02-07 18:00:00+00,332,Cherry St,40.712199,44199,167,E 39 St & 3 Ave,40.748901,-73.976049,16019,Subscriber,1983.0,1
25,NaN,-73.997044,NaN,237,2015-02-07 18:55:00+00,2015-02-07 18:59:00+00,345,W 13 St & 6 Ave,40.736494,44841,435,W 21 St & 6 Ave,40.741740,-73.994156,17289,Subscriber,1958.0,1
26,NaN,-74.001497,NaN,120,2015-02-07 20:08:00+00,2015-02-07 20:10:00+00,116,W 17 St & 8 Ave,40.741776,45343,434,9 Ave & W 18 St,40.743174,-74.003664,19701,Subscriber,1978.0,1
27,NaN,-73.986724,NaN,558,2015-02-07 20:16:00+00,2015-02-07 20:26:00+00,237,E 11 St & 2 Ave,40.730473,45383,435,W 21 St & 6 Ave,40.741740,-73.994156,18941,Subscriber,1988.0,1
28,NaN,-73.990697,NaN,416,2015-02-07 20:45:00+00,2015-02-07 20:52:00+00,403,E 2 St & 2 Ave,40.725029,45506,285,Broadway & E 14 St,40.734546,-73.990741,20622,Subscriber,1993.0,1
29,NaN,-73.997044,NaN,320,2015-02-07 21:30:00+00,2015-02-07 21:35:00+00,345,W 13 St & 6 Ave,40.736494,45672,475,E 16 St & Irving Pl,40.735243,-73.987586,15403,Subscriber,1987.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13201,NaN,-73.994046,NaN,812,2015-02-07 23:51:00+00,2015-02-08 00:05:00+00,335,Washington Pl & Broadway,40.729039,46171,435,W 21 St & 6 Ave,40.741740,-73.994156,15733,Subscriber,1988.0,1
13202,NaN,-73.991908,NaN,647,2015-02-07 23:51:00+00,2015-02-08 00:02:00+00,361,Allen St & Hester St,40.716059,46172,504,1 Ave & E 15 St,40.732219,-73.981656,16931,Subscriber,1995.0,1
13203,NaN,-74.009106,NaN,563,2015-02-07 23:51:00+00,2015-02-08 00:00:00+00,152,Warren St & Church St,40.714740,46173,401,Allen St & Rivington St,40.720196,-73.989978,17202,Subscriber,1987.0,1
13204,NaN,-73.988900,NaN,470,2015-02-07 23:51:00+00,2015-02-07 23:59:00+00,483,E 12 St & 3 Ave,40.732233,46174,439,E 4 St & 2 Ave,40.726281,-73.989780,20314,Subscriber,1989.0,2
13205,NaN,-73.978951,NaN,299,2015-02-07 23:51:00+00,2015-02-07 23:56:00+00,467,Dean St & 4 Ave,40.683125,46175,395,Bond St & Schermerhorn St,40.688070,-73.984106,21531,Subscriber,1989.0,1
13206,NaN,-73.991908,NaN,629,2015-02-07 23:52:00+00,2015-02-08 00:02:00+00,361,Allen St & Hester St,40.716059,46176,504,1 Ave & E 15 St,40.732219,-73.981656,21491,Subscriber,1968.0,1
13207,NaN,-73.989551,NaN,499,2015-02-07 23:52:00+00,2015-02-08 00:00:00+00,402,Broadway & E 22 St,40.740343,46177,380,W 4 St & 7 Ave S,40.734011,-74.002939,15367,Subscriber,1990.0,1
13208,NaN,-74.000264,NaN,474,2015-02-07 23:52:00+00,2015-02-08 00:00:00+00,369,Washington Pl & 6 Ave,40.732241,46178,368,Carmine St & 6 Ave,40.730386,-74.002150,18978,Subscriber,1973.0,2
13209,NaN,-73.979661,NaN,345,2015-02-07 23:52:00+00,2015-02-07 23:58:00+00,476,E 31 St & 3 Ave,40.743943,46179,504,1 Ave & E 15 St,40.732219,-73.981656,19507,Subscriber,1980.0,1
13210,NaN,-73.981918,NaN,829,2015-02-07 23:53:00+00,2015-02-08 00:07:00+00,499,Broadway & W 60 St,40.769155,46180,160,E 37 St & Lexington Ave,40.748238,-73.978311,16936,Subscriber,1980.0,1
13211,NaN,-74.002150,NaN,776,2015-02-07 23:53:00+00,2015-02-08 00:05:00+00,368,Carmine St & 6 Ave,40.730386,46181,531,Forsyth St & Broome St,40.718939,-73.992663,18689,Subscriber,1982.0,1
13212,NaN,-73.976485,NaN,697,2015-02-07 23:53:00+00,2015-02-08 00:05:00+00,520,W 52 St & 5 Ave,40.759923,46182,478,11 Ave & W 41 St,40.760301,-73.998842,15781,Subscriber,1972.0,1
13213,NaN,-73.978951,NaN,1703,2015-02-07 23:54:00+00,2015-02-08 00:23:00+00,467,Dean St & 4 Ave,40.683125,46183,471,Grand St & Havemeyer St,40.712868,-73.956981,15081,Subscriber,1988.0,1
13214,NaN,-73.991255,NaN,922,2015-02-07 23:54:00+00,2015-02-08 00:10:00+00,479,9 Ave & W 45 St,40.760193,46184,247,Perry St & Bleecker St,40.735354,-74.004831,21672,Subscriber,1983.0,1
13215,NaN,-73.981693,NaN,849,2015-02-07 23:54:00+00,2015-02-08 00:08:00+00,457,Broadway & W 58 St,40.766953,46185,488,W 39 St & 9 Ave,40.756458,-73.993722,16336,Subscriber,1970.0,1
13216,NaN,-73.981693,NaN,826,2015-02-07 23:54:00+00,2015-02-08 00:08:00+00,457,Broadway & W 58 St,40.766953,46186,488,W 39 St & 9 Ave,40.756458,-73.993722,21609,Subscriber,1973.0,1
13217,NaN,-74.009660,NaN,473,2015-02-07 23:54:00+00,2015-02-08 00:02:00+00,328,Watts St & Greenwich St,40.724055,46187,3002,South End Ave & Liberty St,40.711512,-74.015756,19470,Subscriber,1964.0,1
13218,NaN,-73.980420,NaN,332,2015-02-07 23:54:00+00,2015-02-07 23:59:00+00,510,W 51 St & 6 Ave,40.760660,46188,450,W 49 St & 8 Ave,40.762272,-73.987882,18167,Subscriber,1960.0,1
13219,NaN,-73.992005,NaN,456,2015-02-07 23:55:00+00,2015-02-08 00:03:00+00,382,University Pl & E 14 St,40.734927,46189,404,9 Ave & W 14 St,40.740583,-74.005509,15929,Subscriber,1987.0,1
13220,NaN,-73.998004,NaN,327,2015-02-07 23:55:00+00,2015-02-08 00:01:00+00,254,W 11 St & 6 Ave,40.735324,46190,466,W 25 St & 6 Ave,40.743954,-73.991449,17541,Subscriber,1983.0,1
13221,NaN,-74.001497,NaN,306,2015-02-07 23:55:00+00,2015-02-08 00:01:00+00,116,W 17 St & 8 Ave,40.741776,46191,494,W 26 St & 8 Ave,40.747348,-73.997236,14736,Subscriber,1983.0,2
13222,NaN,-73.993012,NaN,1248,2015-02-07 23:56:00+00,2015-02-08 00:17:00+00,495,W 47 St & 10 Ave,40.762699,46192,432,E 7 St & Avenue A,40.726218,-73.983799,16300,Subscriber,1984.0,1
13223,NaN,-74.009106,NaN,1165,2015-02-07 23:56:00+00,2015-02-08 00:15:00+00,152,Warren St & Church St,40.714740,46193,325,E 19 St & 3 Ave,40.736245,-73.984738,16978,Subscriber,1959.0,1
13224,NaN,-73.982050,NaN,993,2015-02-07 23:56:00+00,2015-02-08 00:13:00+00,461,E 20 St & 2 Ave,40.735877,46194,295,Pike St & E Broadway,40.714067,-73.992939,16722,Subscriber,1974.0,1
13225,NaN,-73.969053,NaN,1422,2015-02-07 23:57:00+00,2015-02-08 00:20:00+00,455,1 Ave & E 44 St,40.750020,46195,265,Stanton St & Chrystie St,40.722293,-73.991475,20184,Subscriber,1960.0,2
13226,NaN,-74.000040,NaN,689,2015-02-07 23:57:00+00,2015-02-08 00:08:00+00,470,W 20 St & 8 Ave,40.743453,46196,325,E 19 St & 3 Ave,40.736245,-73.984738,15585,Subscriber,1953.0,1
13227,NaN,-73.986831,NaN,428,2015-02-07 23:57:00+00,2015-02-08 00:04:00+00,474,5 Ave & E 29 St,40.745168,46197,325,E 19 St & 3 Ave,40.736245,-73.984738,16395,Subscriber,1986.0,2
13228,NaN,-73.986831,NaN,392,2015-02-07 23:57:00+00,2015-02-08 00:03:00+00,474,5 Ave & E 29 St,40.745168,46198,325,E 19 St & 3 Ave,40.736245,-73.984738,15545,Subscriber,1986.0,1
13229,NaN,-74.002150,NaN,548,2015-02-07 23:58:00+00,2015-02-08 00:08:00+00,368,Carmine St & 6 Ave,40.730386,46199,334,W 20 St & 7 Ave,40.742388,-73.997262,19540,Subscriber,1983.0,2
13230,NaN,-73.989780,NaN,917,2015-02-07 23:59:00+00,2015-02-08 00:15:00+00,439,E 4 St & 2 Ave,40.726281,46200,417,Barclay St & Church St,40.712912,-74.010202,20998,Subscriber,1965.0,2

In [83]:
test = '''
SELECT AVG(tripduration) as weekend_avg
FROM htv210.citibike_feb_2015
WHERE EXTRACT (DOW FROM starttime) in (0,6)
'''

table = get_data(test)
table

   weekend_avg  Unnamed: 1
0   662.942181         NaN

In [84]:
test = '''
SELECT AVG(tripduration) as weekend_avg
FROM htv210.citibike_feb_2015
WHERE EXTRACT (DOW FROM starttime) in (1,2,3,4,5)
'''

table = get_data(test)
table

   weekend_avg  Unnamed: 1
0   681.052292         NaN

**Task 3 â€” Working with Space**

In [87]:
test = '''
SELECT start_station_name
FROM htv210.citibike_feb_2015
GROUP BY start_station_name
'''

table = get_data(test)
table

                start_station_name  Unnamed: 1
0             E 30 St & Park Ave S         NaN
1          Pearl St & Anchorage Pl         NaN
2                  W 56 St & 6 Ave         NaN
3                   West Thames St         NaN
4          Bank St & Washington St         NaN
5                  8 Ave & W 52 St         NaN
6               E 11 St & Broadway         NaN
7         DeKalb Ave & Skillman St         NaN
8    Atlantic Ave & Fort Greene Pl         NaN
9                Avenue D & E 8 St         NaN
10            S 3 St & Bedford Ave         NaN
11          W Broadway & Spring St         NaN
12                 2 Ave & E 31 St         NaN
13                 E 33 St & 5 Ave         NaN
14        MacDougal St & Prince St         NaN
15    Clermont Ave & Lafayette Ave         NaN
16          Barclay St & Church St         NaN
17          Forsyth St & Broome St         NaN
18                 W 13 St & 6 Ave         NaN
19              E 20 St & Park Ave         NaN
20                 W 17 St & 8 Ave         NaN
21               E 2 St & Avenue B         NaN
22                 E 33 St & 2 Ave         NaN
23                 W 18 St & 6 Ave         NaN
24             Old Slip & Front St         NaN
25                 1 Ave & E 44 St         NaN
26        Willoughby Ave & Hall St         NaN
27                 W 20 St & 7 Ave         NaN
28                 E 43 St & 2 Ave         NaN
29           West St & Chambers St         NaN
..                             ...         ...
297               12 Ave & W 40 St         NaN
298        Centre St & Chambers St         NaN
299                W 33 St & 7 Ave         NaN
300          Pershing Square South         NaN
301         Hicks St & Montague St         NaN
302        University Pl & E 14 St         NaN
303        Fulton St & Rockwell Pl         NaN
304    Lafayette Ave & St James Pl         NaN
305        Emerson Pl & Myrtle Ave         NaN
306                E 56 St & 3 Ave         NaN
307        Watts St & Greenwich St         NaN
308                W 44 St & 5 Ave         NaN
309                6 Ave & W 33 St         NaN
310              E 9 St & Avenue C         NaN
311               11 Ave & W 59 St         NaN
312        W 16 St & The High Line         NaN
313          Howard St & Centre St         NaN
314                2 Ave & E 58 St         NaN
315              E 5 St & Avenue C         NaN
316       Fulton St & Clermont Ave         NaN
317    Cadman Plaza E & Tillary St         NaN
318      Pearl St & Hanover Square         NaN
319          LaGuardia Pl & W 3 St         NaN
320                5 Ave & E 29 St         NaN
321                W 21 St & 6 Ave         NaN
322   Wythe Ave & Metropolitan Ave         NaN
323                W 11 St & 6 Ave         NaN
324            St Marks Pl & 1 Ave         NaN
325                W 22 St & 8 Ave         NaN
326         Railroad Ave & Kay Ave         NaN

[327 rows x 2 columns]

In [97]:
test = '''
SELECT COUNT(cartodb_id) as trips, start_station_name
FROM htv210.citibike_feb_2015
GROUP BY start_station_name
ORDER BY trips
'''

table = get_data(test)
table

     trips               start_station_name
0        4               Sands St & Navy St
1        5         Atlantic Ave & Furman St
2        7           Railroad Ave & Kay Ave
3        7      Gallatin Pl & Livingston St
4        7              Nassau St & Navy St
5        9        Franklin Ave & Myrtle Ave
6       10         DeKalb Ave & Skillman St
7       10         Hancock St & Bedford Ave
8       12  Columbia Heights & Cranberry St
9       12              Broadway & Berry St
10      13      Lafayette Ave & Classon Ave
11      13             S 3 St & Bedford Ave
12      13           Bedford Ave & S 9th St
13      14                    Old Fulton St
14      14          Monroe St & Classon Ave
15      16  Cadman Plaza West & Montague St
16      17      Lexington Ave & Classon Ave
17      17       Clinton Ave & Flushing Ave
18      18          Macon St & Nostrand Ave
19      18    Cadman Plaza E & Red Cross Pl
20      18             Henry St & Poplar St
21      18               Kent Ave & S 11 St
22      19         Park Ave & St Edwards St
23      19            Fulton St & Grand Ave
24      19               Front St & Gold St
25      19               Avenue D & E 12 St
26      19          3 Ave & Schermerhorn St
27      20       Myrtle Ave & St Edwards St
28      21      Washington Ave & Greene Ave
29      22      Cadman Plaza E & Tillary St
..     ...                              ...
297    292    Christopher St & Greenwich St
298    292                  W 24 St & 7 Ave
299    296               E 10 St & Avenue A
300    296                  6 Ave & W 33 St
301    296                  E 20 St & 2 Ave
302    298                  E 40 St & 5 Ave
303    302                  2 Ave & E 31 St
304    308               E 32 St & Park Ave
305    309                  W 33 St & 7 Ave
306    311                 W 20 St & 11 Ave
307    319               Broadway & W 24 St
308    319                  E 33 St & 2 Ave
309    320                  W 27 St & 7 Ave
310    323            Pershing Square North
311    324               Broadway & E 22 St
312    327                  W 18 St & 6 Ave
313    341          University Pl & E 14 St
314    342            Greenwich Ave & 8 Ave
315    362            Pershing Square South
316    372          Lexington Ave & E 24 St
317    373               Broadway & E 14 St
318    387                  8 Ave & W 33 St
319    397                  1 Ave & E 15 St
320    424                  W 31 St & 7 Ave
321    455               E 17 St & Broadway
322    486         E 43 St & Vanderbilt Ave
323    507                  W 41 St & 8 Ave
324    511            Lafayette St & E 8 St
325    519                  W 21 St & 6 Ave
326    530                  8 Ave & W 31 St

[327 rows x 2 columns]

In [106]:
test = '''
SELECT start_station_name, COUNT(cartodb_id) as trips,
(SQRT(POW(start_station_latitude -40.7577,2) + POW(start_station_longitude +73.9857,2))*111000) as distance
FROM htv210.citibike_feb_2015
WHERE (SQRT(POWER(start_station_latitude -40.7577,2) + POWER(start_station_longitude +73.9857,2))*111000) < 500
GROUP BY start_station_name, start_station_latitude, start_station_longitude
ORDER BY distance
'''

table = get_data(test)
table

   start_station_name  trips    distance
0  Broadway & W 41 St    251  300.956692
1     W 45 St & 6 Ave    141  325.239186
2  Broadway & W 49 St    213  356.328056
3     W 45 St & 8 Ave    141  366.834679
4     W 43 St & 6 Ave    112  389.199116

**Task 4 â€” Putting it all together**

In [121]:
test = '''
SELECT start_station_name, AVG(tripduration)
FROM htv210.citibike_feb_2015
WHERE (SQRT(POWER(start_station_latitude -40.7577,2) + POWER(start_station_longitude +73.9857,2))*111000) < 500 AND EXTRACT (DOW FROM starttime) in (0,6)
GROUP BY start_station_name
ORDER BY avg DESC
LIMIT 1
'''

table = get_data(test)
table

   start_station_name          avg
0  Broadway & W 49 St  1010.104167

In [130]:
test = '''
SELECT start_station_name, end_station_name, COUNT(cartodb_id) as trips
FROM htv210.citibike_feb_2015
WHERE (SQRT(POWER(start_station_latitude -40.7577,2) + POWER(start_station_longitude +73.9857,2))*111000) < 500 AND tripduration < 7200
GROUP BY start_station_name, end_station_name
ORDER BY trips DESC

'''

table = get_data(test)
table

     start_station_name               end_station_name  trips
0    Broadway & W 49 St       E 43 St & Vanderbilt Ave     15
1       W 45 St & 6 Ave                W 33 St & 7 Ave     14
2       W 43 St & 6 Ave       E 43 St & Vanderbilt Ave     14
3    Broadway & W 41 St                W 33 St & 7 Ave     14
4    Broadway & W 49 St          E 48 St & Madison Ave     13
5       W 45 St & 8 Ave                8 Ave & W 52 St     12
6    Broadway & W 41 St               11 Ave & W 41 St     12
7       W 45 St & 6 Ave                W 41 St & 8 Ave     12
8    Broadway & W 49 St               W 43 St & 10 Ave     12
9       W 45 St & 8 Ave                8 Ave & W 33 St     10
10   Broadway & W 49 St               11 Ave & W 41 St      9
11   Broadway & W 49 St             E 47 St & Park Ave      9
12   Broadway & W 49 St                E 48 St & 3 Ave      7
13      W 43 St & 6 Ave                W 33 St & 7 Ave      7
14   Broadway & W 41 St             Broadway & W 36 St      7
15      W 45 St & 8 Ave                W 45 St & 8 Ave      7
16   Broadway & W 41 St               W 43 St & 10 Ave      7
17   Broadway & W 49 St                W 44 St & 5 Ave      7
18   Broadway & W 49 St                9 Ave & W 45 St      6
19      W 45 St & 6 Ave       E 43 St & Vanderbilt Ave      6
20      W 45 St & 6 Ave        E 37 St & Lexington Ave      6
21   Broadway & W 41 St                6 Ave & W 33 St      6
22   Broadway & W 49 St             Broadway & W 49 St      6
23      W 43 St & 6 Ave             Broadway & W 60 St      6
24   Broadway & W 41 St                E 20 St & 2 Ave      6
25   Broadway & W 49 St                6 Ave & W 33 St      5
26   Broadway & W 49 St                W 33 St & 7 Ave      5
27      W 43 St & 6 Ave                W 42 St & 8 Ave      5
28   Broadway & W 41 St             Broadway & W 24 St      5
29   Broadway & W 49 St               W 52 St & 11 Ave      5
..                  ...                            ...    ...
338     W 45 St & 8 Ave                E 43 St & 2 Ave      1
339     W 45 St & 6 Ave             Broadway & W 24 St      1
340     W 43 St & 6 Ave          Barrow St & Hudson St      1
341     W 43 St & 6 Ave               11 Ave & W 41 St      1
342     W 45 St & 8 Ave               W 52 St & 11 Ave      1
343  Broadway & W 49 St  Christopher St & Greenwich St      1
344     W 45 St & 6 Ave                E 39 St & 2 Ave      1
345  Broadway & W 49 St     Greenwich Ave & Charles St      1
346     W 45 St & 8 Ave             Broadway & W 53 St      1
347     W 45 St & 6 Ave          Pershing Square South      1
348  Broadway & W 49 St             Broadway & W 55 St      1
349     W 45 St & 6 Ave                E 48 St & 3 Ave      1
350     W 45 St & 6 Ave        Allen St & E Houston St      1
351     W 43 St & 6 Ave                W 38 St & 8 Ave      1
352  Broadway & W 41 St                E 43 St & 2 Ave      1
353  Broadway & W 41 St          Pershing Square South      1
354     W 45 St & 8 Ave                E 33 St & 5 Ave      1
355     W 43 St & 6 Ave             Broadway & W 32 St      1
356     W 45 St & 8 Ave             Broadway & W 24 St      1
357  Broadway & W 49 St                W 56 St & 6 Ave      1
358     W 45 St & 6 Ave                E 43 St & 2 Ave      1
359     W 45 St & 8 Ave               W 56 St & 10 Ave      1
360     W 43 St & 6 Ave               10 Ave & W 28 St      1
361  Broadway & W 41 St            E 16 St & Irving Pl      1
362  Broadway & W 49 St             E 17 St & Broadway      1
363     W 45 St & 6 Ave                W 51 St & 6 Ave      1
364  Broadway & W 41 St               W 26 St & 10 Ave      1
365  Broadway & W 41 St        E 53 St & Lexington Ave      1
366  Broadway & W 41 St       Washington Pl & Broadway      1
367     W 45 St & 8 Ave                W 21 St & 6 Ave      1

[368 rows x 3 columns]